.leaderboard-item {
    display: flex;
    align-items: top;
    justify-content: left;
    border: 1px solid #636b6f;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.lb-placement {
    flex: 0 0 30px;
    text-align: center;
    margin-right: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.lb-avatar {
    flex: 0 0 60px;
    margin-right: 10px;
    text-align: center;
    img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        object-fit: cover;
        display: block;
    }
}

.lb-details {
    flex: 1 1 auto;
}

.lb-details-row {
    display: flex;
}

.lb-details-item {
    flex: 0 0 10rem;
    text-align: right;
    margin-right: 10px;
}

.lb-details-emoji {
    flex: 1 1 auto;
}


@media screen and (max-width: 425px) {
    .leaderboard-item {
        flex-wrap: wrap;
    }
    .lb-placement {
        flex: 0 1 auto;
    }
    .lb-avatar {
        font-size: 2rem;
        text-align: left;
        img {
            display: none;
        }
    }
    .lb-details {
        flex-basis: 100%;
        margin-top: 10px;
    }
    .lb-details-item {
        flex-basis: 7rem;
        text-align: left;
    }
}
